    .carrossel {
        background-color: var(--cor-de-fundo);


.carrossel_titulo{   
color:--preto;
 background-color: var(--cor-de-fundo );
text-align: center;
 text-transform: uppercase;
font-size: 18px;



font-weight: 700;
.swiper-slide img{  
 width: 1;



            .swiper-pagination {
               position: initial;
               margin:  ;













.botoes









 }



























































